@model JustinandKelley.Models.AuditHistory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AuditHistory</legend>

    <div class="display-label">AuditURL</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuditURL)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
