@{
    ViewBag.Title = "Contact";
}

<h2>Contact information</h2>
<p>
     Justin Smits
     <br />
     m: (630) 857-0110
     <br />
     <a href="mailto:justin.r.smits@gmail.com">justin.r.smits@gmail.com</a>
     <br />
     Kelley Darnell
     <br />
     m: (630) 309-5638
     <br />
     <a href="mailto:kelleyadarnell@gmail.com">kelleyadarnell@gmail.com</a>
</p>
