@{
    ViewBag.Title = "Justin and Kelley";
}
<div class="contentText" style="text-align:center">
    <img src="@Url.Content("~/Content/jk.jpg")" alt="Justin and Kelley" />
<p>
<strong>
<br/>
08/31/2012 Update:
    <br /><br />
Hello!
<br />
Great news that we are excited to share with you! 
We have booked a new venue and have a revised wedding plan:
We have chartered a private catamaran for our ceremony and reception on Saturday May 4th in Key West. 
It will be a sunset sailing that will have the ceremony performed by the captain, followed by dinner, drinks and dancing!
<br /><br />
We are looking into blocking hotel rooms for Friday and Saturday night so that we can get all interested parties the best rates. 
We will likely be staying at the Westin Key West at the very tip of Florida and is steps away from Duval Street (a famous St in Key West)
<br /><br />
We are hoping people are excited with this new plan, as it will likely be more economical. 
<br /><br />
We will be sending out postcards via snail-mail to get the word out to everyone, essentially referring them to this website, 
which we will keep updated in the coming months of planning. 
<br /><br />
This will also have an area to RSVP (once Justin builds that part of the website!)
<br /><br />
We love you all and hope many of you can come celebrate our day with us! 
<br /><br />
Kelley and Justin
</strong>
</p>
 <p>
<br/>  08/21/2012 Update:
    <br /><br />
We think that we have found a potential wedding venue and have a date in mind. We are working with the venue to finalize the plans. Please look for our postcard in the coming weeks and thank you for your patience in this matter.

Love,
Justin and Kelley
</p>  
<br />
  <p>
<br/>
07/25/2012 Update:
    <br /><br />
We are still working on a solution. This is frustrating, but we are working hard towards a resolution. Thanks to everyone for hanging in there!

Love,
Justin and Kelley
</p>  
<br />
<p>
    07/11/2012 Update:
    <br /><br />
    We were recently informed that the ship we booked our wedding on is no longer available. We are completely
    humiliated and devastated by this and are working diligently to resolve the issue. We understand that this must be frustrating for you as well, so please 
    accept our deepest apologies. 
    <br /><br />
    We will update this site with information as soon as it becomes available. If you have any questions, please feel free to contact us:
    <br /><br />
     Justin Smits
     <br />
     m: (630) 857-0110
     <br />
     <a href="mailto:justin.r.smits@gmail.com">justin.r.smits@gmail.com</a>
     <br /><br />
     Kelley Darnell
     <br />
     m: (630) 309-5638
     <br />
     <a href="mailto:kelleyadarnell@gmail.com">kelleyadarnell@gmail.com</a>
    </p>
</div> 